<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"
    ></script>
    <title>{{titulo}}</title>
  </head>

  <body class="body">
    <table>
      <tr class="first">
        <th class="ti">Titulo</th>
        <th class="pri">Precio</th>
        <th class="thu">thumbnail</th>
      </tr>
      {{#each lista}}
        <tr class="second">
          <td class="ti">{{title}}</td>
          <td class="pri">{{price}}</td>
          <td class="thu"><img src={{thumbnail}} /></td>
        </tr>
      {{/each}}
    </table>
    <table id="products-container-r" class="table">
    </table>
  </body>

</html>